extends base.pug

block scripts
    //- script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 

block content
    section#introSection 
            div Welcome to Abdullah's Dance Academy
            //- div.small Eat Dance Sleep Repeat-//
            div.video-container
                video.repeat-video(autoplay loop muted)
                    source(src="../static/EatDanceSleepRepeat.mp4" type="video/mp4" playBackRate="2")

    section#missionSection 
            h2 Our Mission
            div.card 
                h3 Dance Perfaction
                div.card-box
                    div.card-img 
                        img(src="/static/dance1.png")
                    div.card-content 
                        p This is the best dance academy in the universe.
            div.card 
                h3 Dance the way you like
                div.card-box
                    div.card-img 
                        img(src="/static/dance1.png")
                    div.card-content 
                        p This is the best dance academy in the universe.

            div.card 
                h3 Expert Teaching
                div.card-box
                    div.card-img 
                        img(src="/static/dance1.png")
                    div.card-content 
                        p This is the best dance academy in the universe.

    section#sponsersSection 
            h2 Our Sponsers
            div#sponsers 
                img(src="/static/nike-logo.png" , class="spImage")
                img(src="/static/nike-logo.png" , class="spImage")
                img(src="/static/nike-logo.png" , class="spImage")
                img(src="/static/nike-logo.png" , class="spImage")

