* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-color: rgb(39, 39, 39);
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    font-size: 30px;
    padding-right: 40px;
    padding-left: 5px;
    margin: 14px;                /*Might need to get deleted to make the Navbar smaller in height*/
}

#logo img {
    filter: invert(1);
    height: 45px;
}

#navbar {
    background-color: black;
    padding: 18px 14px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    font-size: 30px;
    padding: 13px 20px;
    color: white;
}

#navbar li a:hover {
    color: wheat;
}

#introSection {
    color: white;
    display: flex;
    padding-left: 80px;
    padding-top: 70px;
    flex-direction: column;
    font-size: 65px;;
    background: center / cover no-repeat url("./static/kazuo-ota-vDuIwTkHoRs-unsplash.jpg");
    height: 700px;
    padding-bottom: 40px;
}

#introSection div.small {
    font-size: 52px;
    padding-left: 260px;
}

#missionSection {
    height: 325px;
    background-color: rgb(39, 39, 39);
    margin: auto;
    width: 67%;
}

.card {
    border: 2px solid;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
    display: inline-block;
    background-color: rgb(152, 152, 152);
}

.card h3 {
    text-align: center;
    margin: 12px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    padding: 0 10px;
}
.card-content p{
    padding: 0 5px;
}

.card-img {
    height: 130px;
    padding: 0px 14px;
    margin: 5px 9px;
}
.card-img img {
    height: inherit;
}

#missionSection h2 {
    text-align: center;
    padding-top: 12px;
    color: white;
    font-size: 35px;
}

#sponsersSection {
    height: 300px;
    background-color: rgb(26, 25, 25);
}

#sponsersSection h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 12px;
    color: white;
}

.spImage {
    height: 80%;
    margin: 20px;
    filter: invert(1);
}

#sponsers {
    height: 100px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

#footer {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}